body {
  font-family: Calibri;
  width: 90vw;
  margin: auto;
  background-color: #FCFCFC;
  font-size: 16px;
}

table {
  border-collapse: collapse;
  width: inherit;
}

td, th {
  text-align: left;
  padding: 1vw;
  vertical-align: top;
}

th {
  background-color: #4472C4;
  color: #FFFFFF;
}

tr:nth-child(even) {
  background-color: #E9EBF5;
}

tr:nth-child(odd) {
  background-color: #CFD5EA;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #B00000;
}

.publications a {
  color: #223388;
}

.readings a {
  color: #224400;
}

table.readings th {
  background-color: #70AD47;
}

table.readings tr:nth-child(odd) {
  background-color: #D5E3CF;
}

table.readings tr:nth-child(even) {
  background-color: #EBF1E9;
}

.publications {
  color: #223388;
}

.readings {
  color: #224400;
}


h1, h3 {
  color: #3E3E3E;
}

h2 {
  color: #B00000;
}

#profile-image {
  margin: auto;
  margin-bottom: 0.5vw;
  margin-top: 0.5vw;
  width: 100%;
}

#main {
  float: left;
  width: 100%;
}

#personal-info {
  margin-top: 1vw;
  margin-bottom: 1vw;
  padding-top: 0.5vw;
  width: auto;
}

#footer {
  float: left;
  width: 100%;
  margin-bottom: 1vw;
  margin-top: 1vw;
}

img {
  filter: sepia(40%);
}