body {
  font-family: Calibri;
  width: 90vw;
  margin: auto;
  background-color: #FCFCFC;
  font-size: 16px;
}

table {
  border-collapse: collapse;
  width: inherit;
}

td, th {
  text-align: left;
  padding: 8px;
  vertical-align: top;
}

th {
  background-color: #4472C4;
  color: #FFFFFF;
}

tr:nth-child(even) {
  background-color: #E9EBF5;
}

tr:nth-child(odd) {
  background-color: #CFD5EA;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #B00000;
}

.publications a {
  color: #223388;
}

.readings a {
  color: #224400;
}

table.readings th {
  background-color: #70AD47;
}

table.readings tr:nth-child(odd) {
  background-color: #D5E3CF;
}

table.readings tr:nth-child(even) {
  background-color: #EBF1E9;
}

table.presentations th {
  background-color: #ED7D31;
}

table.presentations tr:nth-child(odd) {
  background-color: #F8D7CD;
}

table.presentations tr:nth-child(even) {
  background-color: #FCECE8;
}
.publications {
  color: #223388;
}

.readings {
  color: #224400;
}

.presentations, table.presentations a {
  color: #B55219;
}


h1, h3 {
  color: #3E3E3E;
}

h2 {
  color: #B00000;
}

#profile-image {
  float: right;
  width: 100px;
  filter: sepia(50%);
}

#main {
  float: left;
  width: 100%;
}

#footer {
  float: left;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
}

th.number {
  width: 16px;
}

img {
	width: 100px;
}